*{
  padding:0;
  margin:0;
}

body{
  height:100vh;
  width:100vw;
  background-color:hsl(210, 46%, 95%);
  display:flex;
  align-items:center;
  justify-content: center;
}
.con{
  display:flex;
  justify-content:center;
  align-items: center;
  height:40%;
  width:50%;
  border-radius: 5%;
  background-color: white;
  box-sizing: content-box;
}
.im img{
  width:310px;
  height:310px;
  border-top-left-radius: 5%;
  border-bottom-left-radius: 5%;
}
.auth-im img{
  border-radius: 50%;
  width:50px;
  height:50px;
}
.title{
    font-weight: 700;
    font-size:25px;
    color:hsl(217, 19%, 35%);
    margin-bottom: 5%;
}
.auth{
  display:flex;
}
.desc{
  color: hsl(214, 17%, 51%);
  margin-bottom: 10%;
}
.name{
  color:hsl(217, 19%, 35%);
}
.date{
  color: hsl(214, 17%, 51%);
}
.txt{
  padding:5%;
}
.auth-txt{
  margin:10px;
}
button{
  border-radius: 50%;
  border:none;
  width:30px;
  height:30px;
  cursor: pointer;
}
.btn{
  margin-left:200%;
  margin-top:10px;
  cursor:pointer;
}
.box{
  display:flex;
  background-color:hsl(217, 19%, 35%);
  width:200px;
  height:35px;
  border-radius: 5%;
  align-items: center;
  position:absolute;
  justify-content: space-around;
  top:55%;
  display:none;
  position:absolute;
}
.box img{
  width:20px;
  height:20px;
}
.box.active{
  display:flex;
}

@media (max-width:375px){

  body{
    padding:5%;
    margin:0;
  }

  .con{
    display:flex;
    flex-direction:column;
    width:100%;
    height:fit-content;
  }
  .im img{
    border-radius: 5%;
  }
  .box{
    display:flex;
    color:grey;
    visibility:none;
    display:none;
  }
  .box.active{
    display:flex;
  }
  .btn{
      cursor:pointer;
  }
}
